page-chat {

.tela{
    background: #d0e8f5;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #607D8B !important;
    background-color: transparent;
}
.item-ios {
    border-radius: 5px !important;
    margin-bottom: 5px !important;
}
.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0px !important; 
}
.teste{
    color: green; 
    }
}